@using Agenda.Dados.Models;
@model Agenda.Dados.Models.Contato

@{
    var lista = new List<SelectListItem>();


    foreach (Agenda.Dados.Models.Telefone.TiposTelefone tipo in Enum.GetValues(typeof(Agenda.Dados.Models.Telefone.TiposTelefone)))
    {
        SelectListItem selectListItem = new SelectListItem();
        selectListItem.Text = tipo.ToString();
        selectListItem.Value = tipo.ToString();
        //selectListItem.Selected = Tipo == tipo.ToString();

        lista.Add(selectListItem);
    }
}



<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".addTelefone").click(function () {

            var rowCount = $('.telefoneDivRow').length;

            $("#ListaTelefone").append('<div class="telefoneDivRow"><input type="text" name="Telefones[' + rowCount + '].Numero" class="telefoneNumero" required="required" /> <select name="Telefones[' + rowCount + '].Tipo" class="telefoneTipo " style=" height:26px;">@foreach (SelectListItem item in lista){<option value="@item.Value">@item.Text</option>}</select> <a href="javascript:void(0);" class="delTelefone">Remover</a></div>');
            $('.telefoneNumero').each(function (index) {
                $(this).attr('name', 'Telefones[' + index + '].Numero');
                $(this).attr('id', 'Telefones[' + index + '].Numero');
                $(this).mask("(99) 9999-9999?9");
            });
            var campo = document.getElementById("Telefones[0].Numero");
            document.getElementById("btnSubmit").disabled = (campo == null);
        });

        $("#ListaTelefone").on('click', '.delTelefone', function () {
           
            $(this).closest('.telefoneDivRow').remove();
            var campo = document.getElementById("Telefones[0].Numero");
            document.getElementById("btnSubmit").disabled = (campo == null);
            
            $('.telefoneTipo').each(function (index) {
                $(this).attr('name', 'Telefones[' + index + '].Tipo');
            });

            $('.telefoneNumero').each(function (index) {
                $(this).attr('name', 'Telefones[' + index + '].Numero');
                $(this).attr('id', 'Telefones[' + index + '].Numero');
                $(this).mask("(99) 9999-9999?9");
            });
        })

        $(".addEmail").click(function () {

            var rowCount = $('.emailDivRow').length;

            $("#ListaEmail").append('<div class="emailDivRow"><input type="text" name="Emails[' + rowCount + '].DesEmail" class="emailDes" /> <select name="Emails[' + rowCount + '].Tipo" class="emailTipo " style=" height:26px;">@foreach (SelectListItem item in lista){<option value="@item.Value">@item.Text</option>}</select> <a href="javascript:void(0);" class="delEmail">Remover</a></div>');
            $('.emailDes').each(function (index) {
                $(this).attr('name', 'Emails[' + index + '].DesEmail');
                $(this).attr('id', 'Emails[' + index + '].DesEmail');
            });
        });

        $("#ListaEmail").on('click', '.delEmail', function () {
            
            $(this).closest('.emailDivRow').remove();
            
            $('.emailTipo').each(function (index) {
                $(this).attr('name', 'Emails[' + index + '].Tipo');
            });

            $('.emailNumero').each(function (index) {
                $(this).attr('name', 'Emails[' + index + '].DesEmail');
                $(this).attr('id', 'Emails[' + index + '].DesEmail');
            });
        })
    });
</script>

<h1>Criar Contato</h1>

@using (Html.BeginForm("Salvar", "Contato", FormMethod.Post))
{
    <p>
        <div>@Html.LabelFor(model => model.Nome)</div>
        <div>@Html.TextBoxFor(model => model.Nome, new { required = "required" })</div>
        @Html.ValidationMessageFor(model => model.Nome)
    </p>

    <p>
        <div>@Html.LabelFor(model => model.Empresa)</div>
        <div>@Html.TextBoxFor(model => model.Empresa)</div>
        @Html.ValidationMessageFor(model => model.Empresa)
    </p>

    <p>
        <div>@Html.LabelFor(model => model.Endereco)</div>
        <div>@Html.TextBoxFor(model => model.Endereco)</div>
        @Html.ValidationMessageFor(model => model.Endereco)
    </p>

    <div id="ListaTelefone">
        <label>Telefone</label>
        @for (int i = 0; i < Model.Telefones.Count; i++)
        {
            <div class="telefoneDivRow">
                @Html.DropDownList("Telefones[" + i + "].Tipo", lista, new { @class = "telefoneTipo" })

                @Html.TextBoxFor(model => Model.Telefones[i].Numero, new { @class = "telefoneNumero" })
                @Html.ValidationMessageFor(model => Model.Telefones[i].Numero)

                <a href="javascript:void(0);" class="delTelefone">Remover</a>
            </div>
        }
    </div>

    <p>
        <a href="javascript:void(0);" class="addTelefone">Adicionar Telefone</a>
    </p>

    <div id="ListaEmail">
        <label>Email</label>
        @for (int i = 0; i < Model.Emails.Count; i++)
        {
            <div class="telefoneDivRow">
                @Html.DropDownList("Emails[" + i + "].Tipo", lista, new { @class = "emailTipo" })

                @Html.TextBoxFor(model => Model.Emails[i].DesEmail, new { @class = "emailDes" })
                @Html.ValidationMessageFor(model => Model.Emails[i].DesEmail)

                <a href="javascript:void(0);" class="delEmail">Remover</a>
            </div>
        }
    </div>

    <p>
        <a href="javascript:void(0);" class="addEmail">Adicionar Email</a>
    </p>

    <p>
        <input type="submit" name="btnSubmit" id="btnSubmit" value="Salvar" class="btn btn-primary botao" disabled />
        @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-primary" })
    </p>

}